/* -------------------------------------------------------------- 
   Boilerplate Screen Styles
   * Version:   0.5 (2007-11-19)
-------------------------------------------------------------- */

@import "lib/reset.css";
@import "lib/typography.css";
@import "lib/forms.css";
@import "lib/plugins/tabs.css";

body{
  background-image:   url('/images/cafe.jpg');
  background-repeat:  no-repeat;
}

/* Header
------------------------------------------------------------- */
#header { margin-top: 5px; border-bottom: 1px solid #eee; }

/* Page
-------------------------------------------------------------- */
#page { 
  margin:   0 auto; 
  width:    960px; 
}

/* Body
-------------------------------------------------------------- */

#body { margin-top: 10px; }

#sidebar { float: left; width: 230px; }
#sidebar h3 { color: #888; }
#sidebar ul, #sidebar ol { color: #888; }
#sidebar ul a { color: #555; }

#main{ float: left; width: 710px;  }

/* Footer
-------------------------------------------------------------- */
#footer { border-top: 1px solid #eee; margin-top: 20px; }

#footer .tabs { width: 405px; border-top: 3px solid #eee; }
#footer .tabs a { padding: 10px 30px 10px 0; color: #666; text-decoration: none; }

#footer p.quiet { color: #ccc; }
