/* -------------------------------------------------------------- 
   Boilerplate Screen Styles
   * Version:   0.5 (2007-11-19)
-------------------------------------------------------------- */

@import "lib/reset.css";
@import "lib/typography.css";
@import "lib/forms.css";
@import "lib/plugins/tabs.css";

body{
  background-image:   url('/images/cafe.jpg');
  background-repeat:  no-repeat;
  font-size:          90%;
}

/* Header
------------------------------------------------------------- */
#header { margin-top: 3px; border-bottom: 1px solid #eee; }
#header a:link, #header a:visited { color: black; }
#header h1 { margin-bottom: 0.2em }
#header > #awesomeful-info { float: right; }

/* Page
-------------------------------------------------------------- */
#page { 
  margin:   0 auto; 
  width:    1020px; 
}

/* Body
-------------------------------------------------------------- */

#body { margin-top: 10px; }

#sidebar { float: left; width: 230px; }
#sidebar h3 { color: #888; }
#sidebar ul, #sidebar ol { color: #888; }
#sidebar ul a { color: #555; }

#sidebar > .box { padding: 2px; border: 1px solid #eee; }

#main{ float: left; width: 780px; padding: 5px; }
#main > h2 > a { color: black }

.actions {
  float: right;
}

/* Footer
-------------------------------------------------------------- */
#footer { border-top: 1px solid #eee; margin-top: 20px; }

#footer .tabs { width: 405px; border-top: 3px solid #eee; }
#footer .tabs a { padding: 10px 30px 10px 0; color: #666; text-decoration: none; }

#footer p.quiet { color: #ccc; }
