#footer
  .first
    %h4 About the author
    %p I am Harold Giménez. I'm mostly into web development, machine learning, and technology in general.
    %p I'm sometimes found on
    %a{:href => 'http://twitter.com/hgimenez'} 
      %img{ :src => '/images/icons/twitter.png', :alt => 'Twitter', :title => 'randomness on Twitter' }
    %a{:href => 'http://last.fm/user/hgimenez'}
      %img{ :src => '/images/icons/lastfm.png', :alt => 'Last.fm', :title => 'kinda my music taste on last.fm' }
    %a{:href => 'http://www.linkedin.com/in/haroldgimenez'}
      %img{ :src => '/images/icons/linkedin.png' :alt => 'Linked in', :title => 'Professional me' }

  .third
    %h4 Nonsense
    %p Some day I may update this. For now, any words will do.

  .second
    .inner
      %h4 About this site
      %ul
        %li Hand crafted with #{link_to 'Ruby on Rails', 'http://rubyonrails.org'} and #{link_to 'jQuery', 'http://jquery.com'}
        %li Code at #{link_to 'Github', 'http://github.com/hgimenez/awesomeful'}
        %li Hosted on #{link_to 'Heroku', 'http://heroku.com'}

  
  .clearfix
  %p.quiet#copyleft
    %small All original content copyright &copy; 2009 Harold Giménez. Creative Commons License.
