#github-badge
:plain
  <script type="text/javascript" charset="utf-8">
    GITHUB_USERNAME="hgimenez";
  </script>
<script src="http://drnicjavascript.rubyforge.org/github_badge/dist/github-badge-launcher.js" type="text/javascript"></script>
