<div class="actions"><%= link_to "Edit", edit_post_path(@post) -%></div>
<h2><%= @post.title -%></h2>

<div class="post-body">
  <%= @post.body_html -%>
</div>

<div class="post-meta">
  Created <%= time_ago_in_words(@post.created_at) -%> ago. 
</div>

<% if RAILS_ENV == 'development' -%>
  <% javascript_tag do %>
      var disqus_developer = 1;
  <% end %>
<% end %>

<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/awesomeful/embed.js"></script><noscript><a href="http://awesomeful.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>


  
