<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Awesomeful</title>
  <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="stylesheets/print.css" type="text/css" media="print" charset="utf-8">
  <!--[if lte IE 6]><link rel="stylesheet" href="stylesheets/lib/ie.css" type="text/css" media="screen" charset="utf-8"><![endif]-->
</head>
<body>

<div id="page">
  <div id="header">
    <div id="awesomeful-info">[<em>aw</em>-suh m fuh l]: <span class="quiet">-adjective</span> Full of awesomeness.</div>
    <h1>Awesomeful</h1>
  </div>

  
  <div id="body" class="wrapper">

    <div id="sidebar">
      <div class="box">
        <h3>My stuff</h3>
        <ul>
          <li><a href="#">Consectetur adipisicing elit</a> sed do eiusmod tempor incididunt ut labore.</li>
          <li><a href="#">Quis nostrud exercitation</a> ullamco laboris nisi ut aliquip</li>
        </ul>
      </div>
      <%= yield :sidebar -%>
    </div>

    <div id="main">
      <h2>This is a title</h2>
      <p>bbla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blala bla bla bla</p>
      <p>bbla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blala bla bla bla</p>
      <p>bbla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blala bla bla bla</p>
      <p>bla bla bla bla</p>
      <p>bla bla bla bla</p>
      <p>bla bla bla bla</p>
      <p>bla bla bla bla</p>
      <p>bla bla bla bla</p>
      <p>bla bla bla bla</p>
      <p>bla bla bla bla</p>
      <p>bla bla bla bla</p>
      <%= yield -%>
    </div>


  </div>
  
  <div id="footer">
    <ul class="tabs">
      <li><a href="#">Lorem</a></li>
      <li><a href="#">Ipsum</a></li>
      <li><a href="#">Dolor</a></li>
      <li><a href="#">Consectetur</a></li>
      <li><a href="#">Eiusmod</a></li>
    </ul>
    
    <p class="quiet"><small>Creative Commons License</small></p>
  </div>
</div>

</body>
</html>
